{% extends "admin/change_list.html" %}

{% block content %}
    <div style="display: flex; align-items: center; justify-content: center;">
        <canvas id="myChart" width="900" height="300"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const ctx = document.getElementById('myChart');
            const myChart = {{ chart_data|safe }};

            new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: myChart.labels,
                    datasets: myChart.datasets
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            position: 'right', // Размещаем легенду справа
                            labels: {
                                boxWidth: 30, // Размер квадратиков в легенде
                                padding: 10, // Отступы между элементами легенды
                                font: {
                                    size: 15 // Уменьшаем шрифт для лучшей читаемости
                                }
                            }
                        }
                    },
                    layout: {
                        padding: {
                            left: 10,
                            right: 10,
                            top: 10,
                            bottom: 10
                        }
                    }
                }
            });
        });
    </script>

    {{ block.super }}
{% endblock %}
